<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jefferson.apps.real_world.android.real_worldandroidapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <application android:usesCleartextTraffic="true">
        <activity
            android:name="com.jefferson.apps.real_world.android.real_worldandroidapp.HiltTestActivity"
            android:exported="false" />
    </application>
</manifest>